
.grid-container {
	height:100%;
	width:100%;
	display: grid;
	grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
	grid-template-rows:25% 25% 25% 25% 25% 25%;
	gap: 10px;
	justify-content:space-between;
	align-content:space-between;
} 
.grid-container > div{
	padding:20px 0;
	overflow:hidden;
}
.item2{
	grid-column: 2 / 5;
}
.item4{
	background-image:url("img/cats/1.png");
	background-size:cover;
}
.item6{
	grid-area:2/1/5/3;
}
.item7{
	grid-area:2/3/5/7;
	background-image:url("img/cats/4.png");
	background-size:cover;
	background-repeat;no-repeat;
}
.item8{
	background-image:url("img/cats/3.png");
	background-size:cover;
}
.item10{
	background-image:url("img/cats/5.png");
	background-size:cover;
}
.item11{
	background-image:url("img/cats/3.png");
	background-size:cover;
}
.item13{
	background-image:url("img/cats/1.png");
	background-size:cover;
}
.item14{
	grid-area:5/4/7/6;
	background-image:url("img/cats/3.png");
	background-size:cover;
}
.item15{
	grid-area:5/6/7/7;
}
.item19{
	background-image:url("img/cats/2.png");
	background-size:cover;
}
